<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DLL_ClinicaDental.BD.conexion" connectionString="Data Source=.;Initial Catalog=BDClinicaDental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>